body {
    background-color: red;
}

.firstp {
    font-size: 25px;
    text-align: left;
    font-family:fantasy;
   
    
    width: 500px;
}
.secondp{
    font-size: 25px;
   text-align: left;
     font-family:fantasy;
   
    width: 500px;
}
.profile {
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 250px;
    height: 250px;
}
.div1 {
    width: 300px;
    height: 150px;
    border: 1px solid black;
}
.contact{
    list-style-type: none;
}

.art{
    background-color: azure;
    width: 600px;
    height: 800px;
    border: 3px solid black;
}

.logo{
    height: 150px;
    width: 150px;
    
}

.anime{
    height: 150px;
    width: 150px;
}

.mary{
    height: 150px;
     width: 150px;
}
.ficon{
   font-size: 100px;
}

@media (max-width:500px){
    body{
        background-color: blue;
    }    
    
    .profile {
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100px;
    height: 100px;
}
    
}